li
  a(href='/admin/user') 
    | Users
li
  a(href='/admin/person') 
    | Persons
li
  a(href='/admin/activity') 
    | Activitys
li
  a(href='/admin/system') 
    | System
li
  a(href='/admin/collection') 
    | Collections
li
  a(href='/admin/field') 
    | Fields