button.btn.btn-default.pull-right(ng-click='query{{ schema | capitalize }}(); count(); share.window("list");')=__('List')
| 
button.btn.btn-success.pull-right(ng-click='clear(); share.window("createOrUpdate");')=__('New')