extends ../../frontend/theme/layout
block content
  .container(ng-controller='{{ schema | capitalize }}PublicController', ng-init='clear(); share.window("list");')
    .row
      .col-xs-18.col-sm-9.col-md-12
        h2=__('{{ schema | capitalize }}s')
    .row
      .col-xs-18.col-sm-9.col-md-12
        include dashboard_actions
    .row(ng-switch='share.selectWindow')
      .col-xs-18.col-sm-9.col-md-12(ng-switch-when="list")
        include list
      .col-md-6.col-md-offset-3(ng-switch-when="createOrUpdate")
        include form
        +form_{{ schema | lower }}(true)
  {%- for fieldName, field in fields %}{%- if field.ref %}{%- if field.type == 'select' %}
      .col-md-6.col-md-offset-3(ng-switch-when="createOrUpdate{{ fieldName | capitalize }}")
        h3=__('{{ fieldName | capitalize }}')
          small {{ ' {{' }} ref.{{ fieldName | lower }}._id }}
        form.form-horizontal(role='form')
          include ../../{{ field.ref | lower }}/view/fields
          +form_fields_{{ field.ref | lower }}('new{{ fieldName | capitalize }}')
        .form-horizontal
          .form-group
            button.btn.btn.btn-success(type='button', ng-click='createOrUpdate{{ fieldName | capitalize }}(); clear{{ fieldName | capitalize }}(); share.window("createOrUpdate");')=__('Save and back')
            | 
            button.btn.btn.btn-default(type='button', ng-click='clear{{ fieldName | capitalize }}(); share.window("createOrUpdate");')=__('Cancel')
  {%- endif %}{%- endif %}{%- endfor %}
    .row
      .col-xs-18.col-sm-9.col-md-12
        include dashboard_actions
  {%- for fieldName, field in fields %}{%- if field.ref %}
    script(src='/js/{{ field.ref | lower }}/{{ field.ref | capitalize }}PublicFactory.js', type='text/javascript', charset='utf-8').
  {%- endif %}{%- endfor %}
    script(src='/js/{{ schema | lower }}/{{ schema | capitalize }}PublicFactory.js', type='text/javascript', charset='utf-8').
    script(src='/js/{{ schema | lower }}/{{ schema | capitalize }}PublicController.js', type='text/javascript', charset='utf-8').