h3=__('Filters')
form.form-inline(role='form')
  include fields
  +filter_fields_{{ schema | lower }}('filter{{ schema | capitalize }}')
  button.btn.btn-info(type='button', ng-click='filter(); count();')=__('Filter')
  | 
  button.btn.btn-danger(type='button', ng-click='query{{ schema | capitalize }}(); count();')=__('Reset')