.form-group
  button.btn.btn-success(type='button', ng-click='createOrUpdate(); query(); count(); clear(); share.window("query");') Save
  | 
  button.btn.btn-warning(type='button', ng-click='createOrUpdate(); clear(); share.window("createOrUpdate");') Save and continue
  | 
  button.btn.btn-danger(type='button', ng-click='{{ schema | lower }}.$delete(); query(); count(); clear(); share.window("query");') Remove
  | 
  button.btn.btn-default(type='button', ng-click='clear(); share.window("query")') Cancel