head
  meta(http-equiv='content-type', content='text/html; charset=UTF-8')
  title {{name}} - {{description}}
  meta(name='description', content='{{description}}')
  link(rel='shortcut icon', href='/img/favicon.ico')
  include css
  include javascript