mixin form_{{ schema | lower }}(includeActions)
  h3=__('{{ schema | capitalize }}')
    small {{ ' {{' }} {{ schema | lower }}._id }}
  form.form-horizontal(role='form')
    include {{schema | lower}}_fields
    +form_fields_{{ schema | lower }}()
    if includeActions
      include {{schema | lower}}_form_actions