.form-group.pull-right
  button.btn.btn-default(ng-click='query(); count(); share.window("list");')=__('List')
  | 
  button.btn.btn-success(ng-click='clear(); share.window("createOrUpdate");')=__('New')