h3=__('Filters')
form.form-inline(role='form')
  include activity_fields
  +filter_fields_activity('dataList.filter')
  button.btn.btn-warning(type='button', ng-click='filter(); count();')=__('Filter')
  | 
  button.btn.btn-danger(type='button', ng-click='dataList.filter = null; query(); count();')=__('Reset')