.jumbotron.jumbotron_center
  .container
    .row
      .col-md-8
        h1=__("Your app")
        blockquote
          p=__("Automatic generated")
          em=__("Used top technologies")
.container
  .row
    .col-md-4
      a(href="https://www.mongodb.com/", target="_blank")
        img(src="/img/mongodb.png")
    .col-md-4
      a(href="https://www.nodejs.org/", target="_blank")
        img(src="/img/nodejs.png")
    .col-md-4
      a(href="https://www.angularjs.org/", target="_blank")
        img(src="/img/angularjs.png")